.flexbox {
  display: flex;
}

.flexboxFill {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 10px;
}

.flexboxFill>div {
  flex: 1;
}

.flexboxFillv {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 10px;
}

.flexboxFillv>div {
  flex: 1;
}

.divCenter {
  display: flex;
  justify-content: center;
  /* Centers horizontally */
}

.divLeft {
  position: fixed;
  left: 0
}

.divRight {

  margin-left: auto;
}

.center {
  text-align: center;
}

.darkBlue {
  color: #9fdaff;
}

.white {
  color: #ffffff;
}

.bgDarkBlue {
  background-color: #00384e;
}

.bgWhite {
  background-color: #ffffff;
}

.divBackWanabe {
  background-color: #00598c;
  border-radius: 50px;
  padding: 2% 2%;
}

.no-resize {
  resize: none;
}

/* TALK2MEARTH RIGHT BELLLOW HERE */
.sandbox {
  display: flex !important;
  height:max-content !important;
}

.input,
.output {
  flex: 1;
  height: max-content;
}

#output {
  resize: none;
  width: 100%;
  height: 500;
  background-color: #000000;
  color: #ffffff;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

button {
  display: inline-block !important;
  margin-bottom: 10px !important;
  background-color: #00598c !important;
  color: #5ac0ff !important;
  padding: 2px 25px !important;
  /* border: 2px solid #00907E; */
  border-radius: 50px !important;
  cursor: pointer !important;
  font-family: 'Cascadia Mono' !important;
}

h1 {
  font-family: 'Cascadia Mono';
}

h2 {
  font-family: 'Cascadia Mono';
}

h3 {
  font-family: 'Cascadia Mono';
}

p {
  font-family: 'Cascadia Mono';
}

label {
  font-family: 'Cascadia Mono';
  color: #0093cd
}

input[type="text"] {
  border-color: #006891;
}

#terminal {
  font-family: 'Cascadia Mono' !important;
}

#code {
  background-color: #1e1c1c !important;
  color: floralwhite;
  border-color: #000000;
  font-family: 'Cascadia Mono' !important;
  resize: none !important; 
  width: 100%; 
  height: 100%  !important;
}

textarea {
  border-color: #006891 !important;
  font-family: 'Cascadia Mono' !important;
}

.tooltip {
  position: absolute;
  /* transform: translateX(-50%); */
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  z-index: 2;
}

button:hover+.tooltip {
  opacity: 1;
  visibility: visible;
}